@import "../../css/vars";

.chord-list {
  display: flex;
  flex-direction: column;
}

// Chord Name
.chord-name {
  display: flex;
  align-items: center;
  margin: 4px 0;

  font-size: 14px;

  .name {
    font-weight: 600;
    color: $K900;
    text-transform: capitalize;
  }
  .divider {
    padding: 0 8px;
    font-weight: 400;
    color: $K300;
  }
  .aliases {
    font-weight: 400;
    color: $K600;
  }
}

.predicted-chords {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  button {
    font-size: 14px;
  }

  &-empty,
  &-title {
    display: flex;
    align-items: center;
    height: $input-height;

    font-family: $font;
    font-size: 14px;
    font-weight: 400;
  }

  &-title {
    margin-right: auto;
    color: $K600;
  }
  &-empty {
    color: $K400;
  }
}
