@import "../../css/vars";

$staff-color: $K700;

.staffs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-left: 16px;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 100px;
    margin-top: -50px;
    background: $staff-color;
  }

  &-braces {
    position: absolute;
    bottom: 6px;
    left: -16px;

    svg {
      height: 160px;
      width: auto;

      path {
        fill: $staff-color;
      }
    }
  }
}

.staff {
  position: relative;
  display: flex;
  flex-shrink: 0;
  width: 270px;
  height: 50px;

  &-treble {
    margin: 50px 0 30px;
  }
  &-bass {
    margin: 30px 0 10px;
  }

  @media #{$query-max-sm} {
    width: 240px;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    width: 1px;
    height: calc(100% + 1px);
    background: $staff-color;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }

  // Lines
  .lines {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;

    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background: $staff-color;

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          top: ($i - 1) * 25%;
        }
      }
    }
  }

  // Clefs
  .clef {
    position: absolute;
    z-index: 2;

    svg path {
      fill: $staff-color;
    }

    // Treble
    &-treble {
      top: -19px;
      left: -20px;

      svg {
        width: 90px;
        height: 90px;
      }
    }
    // Bass
    &-bass {
      top: 0;
      left: 2px;

      svg {
        width: 42px;
        height: 42px;
      }
    }
  }

  // sharps/flats
  .signature {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;

    visibility: hidden;

    .theme-key &,
    .theme-chord & {
      visibility: visible;
    }

    span {
      position: absolute;

      @for $i from 1 through 7 {
        &:nth-child(#{$i}) {
          left: $i * 12 + 30px;
        }
      }

      svg {
        width: 30px;
        height: 30px;

        path {
          fill: $key-color;
        }
      }

      .hover-zone {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -25% 0 0 -25%;
        width: 50%;
        height: 50%;
      }
    }

    &.bass span {
      margin-top: 13px;
    }

    .sharp {
      &:nth-child(1) {
        top: -15px;
      }
      &:nth-child(2) {
        top: 4px;
      }
      &:nth-child(3) {
        top: -21px;
      }
      &:nth-child(4) {
        top: -2px;
      }
      &:nth-child(5) {
        top: 16px;
      }
      &:nth-child(6) {
        top: -9px;
      }
      &:nth-child(7) {
        top: 10px;
      }
    }
    .flat {
      &:nth-child(1) {
        top: 4px;
      }
      &:nth-child(2) {
        top: -15px;
      }
      &:nth-child(3) {
        top: 10px;
      }
      &:nth-child(4) {
        top: -8px;
      }
      &:nth-child(5) {
        top: 17px;
      }
      &:nth-child(6) {
        top: -3px;
      }
      &:nth-child(7) {
        top: 22px;
      }
    }
  }

  // Notes
  .notes {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 200px;
    width: 50px;
    height: 100%;

    @media #{$query-max-sm} {
      left: 180px;
    }

    &.treble .ledger-lines {
      span {
        position: absolute;
        z-index: 1;
        left: 0;
        width: 45px;
        height: 1px;
        background: $staff-color;

        // Middle C
        &:nth-child(1) {
          top: 62px;
        }
        // A4...
        &:nth-child(2) {
          top: -12px;
        }
        &:nth-child(3) {
          top: -24px;
        }
        &:nth-child(4) {
          top: -36px;
        }
      }
    }

    .note {
      position: absolute;
      z-index: 2;
      left: 4px;
      width: 20px;
      height: 12px;

      .svg-icon.whole {
        display: block;
        width: 20px;
        height: 12px;

        path {
          fill: $staff-color;

          .theme-key & {
            fill: $key-color;
          }
          .theme-chord & {
            fill: $chord-color;
          }
        }
      }

      .svg-icon.sharp,
      .svg-icon.flat {
        position: absolute;
        width: 20px;
        height: 20px;

        path {
          fill: $staff-color;

          .theme-key & {
            fill: $key-color;
          }
          .theme-chord & {
            fill: $chord-color;
          }
        }
      }

      .svg-icon.sharp {
        left: -48px;
        margin-top: -4px;
      }
      .svg-icon.flat {
        left: -58px;
        margin-top: -8px;
      }

      $odd-note-offset: 20px;

      // Treble
      &.treble {
        &.note-C3,
        &.note-D3,
        &.note-E3,
        &.note-F3,
        &.note-G3,
        &.note-A3 {
          display: none;
        }
        &.note-B3 {
          top: 63px;
        }
        &.note-C4 {
          top: 56px;
        }
        &.note-D4 {
          top: 51px;
        }
        &.note-E4 {
          top: 44px;
        }
        &.note-F4 {
          top: 38px;
        }
        &.note-G4 {
          top: 32px;
        }
        &.note-A4 {
          top: 26px;
        }
        &.note-B4 {
          top: 20px;
        }
        &.note-C5 {
          top: 13px;
        }
        &.note-D5 {
          top: 7px;
        }
        &.note-E5 {
          top: 1px;
        }
        &.note-F5 {
          top: -6px;
        }
        &.note-G5 {
          top: -12px;
        }
        &.note-A5 {
          top: -18px;
        }
        &.note-B5 {
          top: -24px;
        }
        &.note-C6 {
          top: -30px;
        }
        &.note-D6 {
          top: -36px;
        }
        &.note-E6 {
          top: -42px;
        }
        &.note-E6 {
          top: -48px;
        }

        &.note-B3,
        &.note-D4,
        &.note-F4,
        &.note-A4,
        &.note-C5,
        &.note-E5,
        &.note-G5,
        &.note-B5 {
          margin-left: $odd-note-offset;
        }
      }
      &.bass {
        &.note-B2 {
          top: 33px;
        }
        &.note-C3 {
          top: 26px;
        }
        &.note-D3 {
          top: 19px;
        }
        &.note-E3 {
          top: 14px;
        }
        &.note-F3 {
          top: 7px;
        }
        &.note-G3 {
          top: 1px;
        }
        &.note-A3 {
          top: -6px;
        }
        &.note-B3 {
          top: -12px;
        }
        &.note-C4 {
          top: -18px;
        }
        &.note-D4 {
          top: -24px;
        }

        &.note-B3,
        &.note-C4,
        &.note-D4,
        &.note-E4,
        &.note-F4,
        &.note-G4,
        &.note-A4,
        &.note-B4,
        &.note-C5,
        &.note-D5,
        &.note-E5,
        &.note-F5,
        &.note-G5,
        &.note-A5,
        &.note-B5,
        &.note-C6,
        &.note-D6,
        &.note-E6,
        &.note-F6 {
          display: none;
        }

        &.note-C3,
        &.note-E3,
        &.note-G3,
        &.note-B3,
        &.note-D4 {
          margin-left: $odd-note-offset;
        }
      }
    }
  }
}
