@import "./vars";

.chart {
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  border: 1px solid $K200;
  box-shadow: 1px 2px 8px rgba($K500, 0.1), 2px 4px 28px rgba($K400, 0.1);
  background: white;

  &:not(:first-child) {
    margin-top: 20px;
  }

  // Select
  &-select {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 20px;

    background: $K50;

    &-top {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom: 1px solid $K150;
    }
    &-bottom {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top: 1px solid $K150;
    }

    &-label {
      display: flex;
      align-items: center;
      height: $input-height;
      margin-right: auto;

      font-family: $headingFont;
      font-size: 16px;
      color: $K700;
      font-weight: 500;
    }

    &-text {
      display: flex;
      align-items: center;
      height: $input-height;

      font-size: 14px;

      &.empty {
        color: $K400;
      }
    }
  }

  // Title
  &-title {
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 12px 0;

    border-bottom: 1px solid $K200;

    &-label {
      margin-right: auto;

      font-family: $headingFont;
      font-size: 22px;
      font-weight: 600;

      @media #{$query-max-md} {
        font-size: 20px;
      }

      span.empty {
        color: $K350;
      }

      span:not(.empty) {
        color: $K900;

        &.color-theme-key {
          color: $key-color;
        }
        &.color-theme-chord {
          color: $chord-color;
        }
      }
    }

    @media #{$query-max-md} {
      button .text {
        display: none;
      }
    }

    .select-key {
      margin-left: auto;
    }
  }

  // Details
  &-details {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .detail:not(:first-child) {
      padding-top: 6px;
    }

    .empty {
      font-size: 14px;
      color: $K300;
    }

    .label {
      display: inline-block;
      width: 120px;
      color: $K600;
    }
    .value {
      color: $K900;
      font-weight: 600;

      .button-group,
      button {
        display: inline-block;
      }
    }
  }
}

// Notes with Intervals
.notes-with-intervals {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  padding: 10px 0; // for mobile overflow scroll

  .pair {
    $note-width: 44px;
    $interval-width: 40px;
    display: flex;
    flex-direction: row;

    text-align: center;

    .note-root {
      display: flex;
      flex-direction: column;
      width: $note-width;

      .note {
        font-size: 20px;
        font-weight: 700;
        color: $K800;
      }
      .root-interval {
        user-select: none;
        font-size: 14px;
        font-weight: 400;
        color: $K500;
      }
    }

    .relative-interval {
      cursor: default;
      user-select: none;
      position: relative;
      width: $interval-width;
      margin: 0 -16px;
      padding-top: 64px;

      font-size: 14px;
      color: $K500;
      font-weight: 400;

      &:before {
        content: "";
        position: absolute;
        top: 42px;
        left: 0;
        width: 100%;
        height: 16px;

        border-radius: 50%;
        border-bottom: 1px solid $K350;
      }
    }

    &:first-child .root-interval {
      visibility: hidden;
    }
    &:last-child .relative-interval {
      display: none;
    }
  }
}

// Chords with Grades
.chords-with-grades {
  display: flex;
  margin: 40px 0;

  .pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;

    // Grade
    .grade {
      margin-bottom: 10px;

      font-size: 18px;
      font-weight: 600;
      color: $K400;
    }

    // Chord
    button {
      //
    }
  }
}
