@import "./vars";

.chart {
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  border: 1px solid $K200;
  box-shadow: 1px 2px 8px rgba($K500, 0.1), 2px 4px 28px rgba($K400, 0.1);
  background: white;

  &-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 20px;

    font-family: $headingFont;

    &-footer {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid $K100;
    }
  }

  // No key/chart selected
  .no-selection {
    padding: 14px 0;

    font-size: 14px;
    color: $K400;
  }

  &:not(:first-child) {
    margin-top: 20px;
  }

  // Select (currently used for chord predictions, to be deprecated)
  &-select {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 20px;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 1px solid $K150;
    background: $K50;

    &-label {
      display: flex;
      align-items: center;
      height: $input-height;
      margin-right: auto;

      font-family: $font;
      font-size: 14px;
      color: $K600;
      font-weight: 400;
    }

    &-text {
      display: flex;
      align-items: center;
      height: $input-height;

      font-size: 14px;

      &.empty {
        color: $K400;
      }
    }
  }

  // Title
  &-title {
    display: flex;
    padding: 12px 20px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid $K200;
    background: $K50;

    @media #{$query-min-md} {
      align-items: center;
    }
    @media #{$query-max-md} {
      flex-direction: column;

      .button-group {
        margin-top: 10px;
      }
    }
  }
}

// Notes with Intervals
.notes-with-intervals {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  overflow-x: auto;
  padding: 10px 0; // for mobile overflow scroll

  .pair {
    $note-width: 44px;
    $interval-width: 40px;
    display: flex;
    flex-direction: row;

    text-align: center;

    .note-root {
      display: flex;
      flex-direction: column;
      width: $note-width;

      .note {
        font-size: 20px;
        font-weight: 700;
        color: $K800;
      }
      .root-interval {
        opacity: 0;
        transition: 0.3s ease opacity;
        user-select: none;
        font-size: 14px;
        font-weight: 400;
        color: $K500;
      }
    }

    .relative-interval {
      opacity: 0;
      transition: 0.3s ease opacity;
      cursor: default;
      user-select: none;
      position: relative;
      width: $interval-width;
      margin: 0 -16px;
      padding-top: 64px;

      font-size: 14px;
      color: $K500;
      font-weight: 400;

      &:before {
        content: "";
        position: absolute;
        top: 42px;
        left: 0;
        width: 100%;
        height: 16px;

        border-radius: 50%;
        border-bottom: 1px solid $K350;
      }
    }

    &:first-child .root-interval {
      visibility: hidden;
    }
    &:last-child .relative-interval {
      display: none;
    }
  }

  // on hover, show intervals
  &:hover .pair {
    .note-root .root-interval,
    .relative-interval {
      opacity: 1;
    }
  }
}
