@import "./vars";

.chart {
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  border: 1px solid $K100;
  box-shadow: 1px 2px 12px $K100;

  &:not(:first-child) {
    margin-top: 20px;
  }

  // Select
  &-select {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;

    background: $K50;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid $K200;

    &-label {
      margin-right: auto;

      font-family: $headingFont;
      font-size: 16px;
      color: $K700;
    }

    &-text {
      font-size: 14px;

      &.empty {
        color: $K400;
      }
    }
  }

  // Title
  &-title {
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 12px 0;

    border-bottom: 1px solid $K200;

    &-label {
      margin-right: auto;
      font-family: $headingFont;
      font-size: 22px;

      span.empty {
        font-weight: 400;
        color: $K350;
      }

      span:not(.empty) {
        font-weight: 600;
        color: $K900;

        &.color-theme-key {
          color: $key-color;
        }
        &.color-theme-chord {
          color: $chord-color;
        }
      }
    }

    .select-key {
      margin-left: auto;
    }
  }

  // Details
  &-details {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .detail:not(:first-child) {
      padding-top: 6px;
    }

    .empty {
      font-size: 14px;
      color: $K300;
    }

    .label {
      display: inline-block;
      width: 120px;
      color: $K600;
    }
    .value {
      color: $K900;
      font-weight: 600;

      .button-group,
      button {
        display: inline-block;
      }
    }
  }
}
