@import "./vars";

.chord-list {
  display: flex;
  flex-direction: column;
}

.chord-picker {
  display: flex;
  justify-content: space-between;
}

// Picker Element
.picker {
  position: relative;

  font-family: $headingFont;

  // Toggle
  &-toggle {
    transition: 0.2s ease border-color, 0.2s ease box-shadow;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 8px 0 8px 12px;

    border-radius: 4px;
    border: 1px solid $K200;
    background: white;

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    svg path {
      fill: $K700;
    }

    &:hover {
      border-color: $K300;
      box-shadow: 1px 2px 4px $K200;
    }
  }

  // Menu (dropdown)
  &-menu {
    position: absolute;
    z-index: 50;
    top: 100%;
    display: flex;
    margin-top: 4px;
    margin-bottom: 30px;

    border-radius: 4px;
    border: 1px solid $K200;
    background: white;
    box-shadow: 1px 2px 4px rgba($K400, 0.1);

    button {
      transition: 0.2s ease background-color, 0.2s ease color;
      padding: 8px;

      border-radius: 0;
      border: 0;
      background: transparent;

      color: $button-color;
      text-align: left;

      &:hover {
        background: $K100;
        color: $button-color-hover;
      }
    }
  }
}

.picker-group {
  display: flex;

  .picker:not(:first-child) {
    margin-left: 8px;
  }
}

// Notes Picker
.picker-notes {
  .picker-toggle {
    width: 66px;
  }

  .picker-notes-menu {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .note {
      display: flex;

      &:not(:first-child) {
        border-top: 1px solid $K100;
      }

      button {
        width: 50px;
        justify-content: center;

        &.natural {
          font-size: 20px;
          font-weight: 600;
          color: $K900;
        }
        &.flat,
        &.sharp {
          font-size: 14px;
          font-weight: 400;
          color: $K600;
        }
      }
    }
  }
}

// Chord Picker
.picker-chords {
  .picker-toggle {
    width: 240px;
  }
  &-menu {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    width: 520px;
    max-width: 90vw;
    height: 400px;
    padding: 10px;

    .type-group {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 10px;

      &-title {
        padding: 8px;
        border-bottom: 1px solid $K100;

        font-size: 16px;
        color: $K500;
      }
      &-options {
        display: flex;
        flex-direction: column;

        // button {        }
      }
    }
  }
}

// Chord Details
.chord-details {
  display: flex;
  flex-direction: column;

  font-family: $headingFont;

  // Chord Notes
  .chord-notes {
    display: flex;

    .pair {
      $note-width: 40px;
      $interval-width: 50px;
      display: flex;
      flex-direction: row;

      text-align: center;

      .note-root {
        display: flex;
        flex-direction: column;
        width: $note-width;

        .note {
          font-size: 20px;
          font-weight: 700;
          color: $K800;

          // box-shadow: inset 0 0 0 1px green;
        }
        .root-interval {
          font-size: 14px;
          font-weight: 400;
          color: $K500;

          // box-shadow: inset 0 0 0 1px blue;
        }
      }

      .relative-interval {
        cursor: default;
        user-select: none;
        position: relative;
        width: $interval-width;
        margin: 0 -10px;
        padding-top: 64px;

        font-size: 14px;
        color: $K500;
        font-weight: 400;

        // box-shadow: inset 0 0 0 1px red;

        &:before {
          content: "";
          position: absolute;
          top: 42px;
          left: 0;
          width: 100%;
          height: 16px;

          border-radius: 50%;
          border-bottom: 1px solid $K350;
        }
      }

      &:last-child .relative-interval {
        display: none;
      }
    }
  }

  // Chord Name
  .chord-name {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .name {
      font-size: 17px;
      font-weight: 600;
      color: $K900;
    }
    .aliases {
      font-size: 15px;
      font-weight: 400;
      color: $K600;
    }
  }
}
