@import "./vars.scss";

.chords {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding-top: 20px;

  // Chord Predictions
  &-predictions {
    user-select: none;

    // "Predicted Chords"
    &-list-label {
      user-select: none;
      padding-right: 8px;

      font-family: $font;
      font-size: 18px;
      font-weight: 400;
      color: $K700;
    }

    // Chord List
    &-list {
      // Empty list
      &.empty {
        user-select: none;
        color: $K400;
      }

      &-item {
        $border-radius: 6px;

        position: relative;
        z-index: 1;

        input {
          display: none;
        }

        label {
          transition: 0.3s ease background;
          cursor: pointer;
          padding: 8px 10px;

          border: 1px solid $green;

          font-weight: 700;
          color: $green;

          &:hover {
            background: rgba($green, 0.1);
          }
        }

        &.checked {
          z-index: 2;

          label {
            border-color: $green;
            background: $green;
            color: $white;
          }
        }

        &:first-child label {
          border-top-left-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
        }
        &:last-child label {
          border-top-right-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
        }
        &:not(:first-child) label {
          margin-left: -1px;
        }
      }
    }
  }

  // Chord Info
  &-info {
    margin-top: 20px;
    padding: 20px;

    border-radius: 12px;
    border: 1px solid $K100;

    // Empty
    &-empty {
      color: $K300;
    }

    // Details
    &-details {
      display: flex;
      flex-direction: column;

      span:not(:first-child) {
        padding-top: 6px;
      }

      .label {
        display: inline-block;
        width: 106px;
        color: $K600;
      }
      .value {
        color: $K900;
        font-weight: 600;
      }
    }
  }
}
