@import "./vars";

.chord-list {
  display: flex;
  flex-direction: column;
}

// Chord Details
.chord-details {
  display: flex;
  flex-direction: column;

  font-family: $headingFont;

  // Chord Name
  .chord-name {
    display: flex;
    align-items: center;
    margin: 4px 0;

    font-size: 14px;

    .name {
      font-weight: 600;
      color: $K900;
      text-transform: capitalize;
    }
    .divider {
      padding: 0 8px;
      font-weight: 400;
      color: $K300;
    }
    .aliases {
      font-weight: 400;
      color: $K600;
    }
  }
}
