$white: white;

$base: #d4dae0;

$K50: lighten($base, 12%);
$K100: lighten($base, 10%);
$K150: lighten($base, 7.5%);
$K200: lighten($base, 5%);
$K250: lighten($base, 2.5%);
$K300: $base;
$K400: darken($base, 10%);
$K450: darken($base, 17%);
$K500: darken($base, 25%);
$K600: darken($base, 30%);
$K650: darken($base, 40%);
$K700: darken($base, 50%);
$K800: darken($base, 65%);
$K900: darken($base, 75%);

$orange: #ffc107;
$orangeHover: darken($orange, 10%);
$locked: #f67f10;

$blue: #36c0d8;
$blueHover: darken($blue, 10%);
$green: #4dc0b5;

// may want to use letter for red felt...?
$red: #bf1125;
