@import "./vars.scss";

// Keyboard
.keyboard {
  display: flex;
  flex-direction: column;
  width: 100%;

  // Keyboard Keys
  .keyboard-keys-wrap {
    display: block;
    width: 100%;
    overflow-x: auto;

    .keyboard-keys {
      min-width: $key-white-width * 7 * 3;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 80px;
      height: 200px;

      border-radius: $key-border-radius;
      background: $K100;
      box-shadow: 1px 2px 4px $K200;
    }
  }

  // Keyboard Buttons
  .keyboard-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 20px;

    button:not(:last-child) {
      margin-right: 12px;
    }
  }
}

// Individual Keys
.key {
  transition: 0.1s ease background-color;

  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;

  padding: 0;

  border: 0;
  border-bottom-left-radius: $key-border-radius;
  border-bottom-right-radius: $key-border-radius;

  // White Key
  &:not(:disabled).key-white {
    z-index: 1;
    width: $key-white-width;
    height: 100%;

    background: $white;
    box-shadow: inset 0 0 0 1px $K200;

    &.pressed,
    &:hover {
      background: $K200;
    }

    &.highlighted {
      background: $orange;
    }
  }

  // Black Key
  &:not(:disabled).key-black {
    z-index: 2;
    width: $key-black-width;
    height: $key-black-height;
    margin: 0 (-$key-black-width/2);

    background: $K900;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);

    &.pressed,
    &:hover {
      background: $K700;
    }

    &.highlighted {
      background: $orange;
    }
  }

  &:focus {
    outline: none;
  }

  // Labels
  &-label {
    transition: 0.2s ease color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $key-label-diameter;
    height: $key-label-diameter;

    margin-bottom: 10px;

    border-radius: 50%;

    font-family: $font;
    font-size: 13px;
    font-weight: 600;
    user-select: none;

    // White label
    .key-white & {
      color: $K400;
    }
    .key-white:hover & {
      background: $K200;
    }
    .key-white.active & {
      background: $orange;
      color: $white;
    }

    // Black label
    .key-black & {
      color: $K700;
    }
    .key-black:hover & {
      background: $K600;
    }
    .key-black.active & {
      background: $orange;
      color: $white;
    }
  }

  // Shortcuts
  &-shortcut {
    user-select: none;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    bottom: 100%;
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    .key-white & {
      height: 36px;
    }
    .key-black & {
      height: 52px;
    }

    &-btn {
      transition: 0.1s ease background-color;
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;

      border-radius: 4px;
      background: $K100;

      font-size: 12px;
      color: $K400;
      text-transform: uppercase;
    }

    &-line {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background: rgba($K900, 0.1);
    }
  }

  &.pressed .key-shortcut .key-shortcut-btn {
    background: $K200;
    color: $K600;
  }

  // Pitch
  &-pitch {
    user-select: none;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 1px;
    margin-top: 4px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(180deg, $white, $K200);

    font-size: 0;
  }
}
