@import "./vars.scss";

// Keyboard
.keyboard {
  display: flex;
  flex-direction: column;
  width: 100%;

  // Keyboard Keys
  .keyboard-keys-wrap {
    display: block;
    width: 100%;
    overflow-x: auto;
    padding-top: 80px; // for shortcut helpers
    padding-bottom: 12px; // keep box shadows visible

    .keyboard-keys {
      min-width: $key-white-width * 7 * 3;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      height: 200px;

      border-radius: $key-border-radius;
      background: $K100;
      // box-shadow: 1px 2px 4px $K200;
    }
  }

  // Keyboard Buttons
  .keyboard-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 24px;
  }
}

// Individual Keys
.key {
  transition: 0.1s ease background-color, 0.1s ease box-shadow;

  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;

  padding: 0;

  border-bottom-left-radius: $key-border-radius;
  border-bottom-right-radius: $key-border-radius;

  // White Key
  &:not(:disabled) {
    &.key-white {
      z-index: 1;
      width: $key-white-width;
      height: 100%;

      border: 1px solid $K200;
      background: $white;
      box-shadow: 1px 2px 3px $K100;

      &:hover {
        background: $K150;
      }

      &:active,
      &.pressed {
        border-color: $K300;
        background: $K300;
        box-shadow: 0 0 1px $K100;
      }
    }

    // Black Key
    &.key-black {
      z-index: 2;
      width: $key-black-width;
      height: $key-black-height;
      margin: 0 (-$key-black-width/2);

      border: 0;
      background: $K800;
      box-shadow: 1px 2px 3px rgba($K800, 0.2);

      &:hover {
        background: $K650;
      }
      &:active,
      &.pressed {
        background: $K500;
        box-shadow: 0 1px 1px rgba($K800, 0.1);
      }
    }

    &:focus {
      outline: none;
    }
  }

  // Labels
  &-labels {
    display: flex;
    margin-bottom: 10px;

    .key-white & {
      flex-direction: column-reverse;
    }
    .key-black & {
      flex-direction: column;
    }
  }
  &-label {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $key-label-diameter;
    height: $key-label-diameter;

    font-family: $font;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    color: transparent;

    border-radius: 50%;

    // Sharp/flat accents
    // &.sharp {
    //   border-top-left-radius: 0;
    //   border-bottom-left-radius: 0;
    // }
    // &.flat {
    //   border-top-right-radius: 0;
    //   border-bottom-right-radius: 0;
    // }

    // Left/right indicators
    // &.sharp:before,
    // &.flat:after {
    //   pointer-events: none;
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   width: 4px;
    //   height: 100%;
    // }
    // &.sharp:before {
    //   left: 0;
    // }
    // &.flat:after {
    //   right: 0;
    // }

    // White label
    .key-white:hover & {
      color: $K600;
    }

    // Black label
    .key-black:hover & {
      color: $K200;
    }

    // White/Black label
    .key-white &.active,
    .key-black &.active {
      background: $orange;
      color: $white;

      .locked & {
        background: $locked;
      }

      &:before,
      &:after {
        background: rgba($K400, 0.4);
      }
    }
  }
  &:hover .key-label {
    transition: 0.3s ease color;
  }

  // Shortcuts
  &-shortcut {
    user-select: none;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    bottom: 100%;
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    .key-white & {
      height: 36px;
    }
    .key-black & {
      height: 52px;
    }

    &-btn {
      transition: 0.1s ease background-color;
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;

      border-radius: 4px;
      background: $K100;

      font-size: 12px;
      color: $K400;
      text-transform: uppercase;
    }

    &-line {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background: rgba($K900, 0.1);
    }
  }

  &.pressed .key-shortcut .key-shortcut-btn {
    background: $K200;
    color: $K600;
  }
}
