@import "./vars";

.key-chart {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 40px;
  padding: 20px;
  height: $wheel-dia;
  overflow-y: auto;

  border-radius: 8px;
  border: 1px solid $K100;
  box-shadow: 1px 2px 12px $K100;

  // Details
  &-details {
    display: flex;
    flex-direction: column;

    span:not(:first-child) {
      padding-top: 6px;
    }

    .label {
      display: inline-block;
      width: 290px;
      color: $K600;
    }
    .value {
      color: $K900;
      font-weight: 600;
    }
  }
}
