@import "./vars";

.key-chart {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 20px;
  overflow-y: auto;

  border-radius: 8px;
  border: 1px solid $K100;
  box-shadow: 1px 2px 12px $K100;

  @media #{$query-min-md} {
    margin-left: 40px;
  }
  @media #{$query-max-md} {
    margin-top: 40px;
  }

  // Title
  &-title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding-bottom: 10px;

    border-bottom: 1px solid $K200;

    span {
      font-family: $headingFont;

      &:not(.empty) {
        font-weight: 600;
        font-size: 22px;
        color: $K900;
      }

      &.empty {
        font-size: 16px;
        font-weight: 400;
        color: $K400;
      }
    }
  }

  // Details
  &-details {
    display: flex;
    flex-direction: column;

    span:not(:first-child) {
      padding-top: 6px;
    }

    .label {
      display: inline-block;
      width: 120px;
      color: $K600;
    }
    .value {
      color: $K900;
      font-weight: 600;
    }
  }
}
