@import "./vars";

// Picker Group
.picker-group {
  display: flex;
  flex: 1;

  @media #{$query-min-md} {
    padding-right: 12px;
  }

  .picker:not(:last-child) .picker-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .picker:not(:first-child) .picker-toggle {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.picker {
  position: relative;

  font-family: $headingFont;

  // Toggle
  &-toggle {
    transition: 0.2s ease border-color, 0.2s ease box-shadow;
    cursor: pointer;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 8px 0 8px 12px;

    border-radius: 4px;
    border: 1px solid $K100;
    background: white;

    font-size: 18px;
    font-weight: 600;
    color: $K900;

    .theme-key & {
      color: $key-color;
    }
    .theme-chord & {
      color: $chord-color;
    }

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    svg path {
      transition: 0.2s ease fill;
      fill: $K400;
    }

    &:hover {
      z-index: 2;
      border-color: $K300;
      box-shadow: 1px 2px 4px $K200;

      svg path {
        fill: $K700;
      }
    }
  }

  // Menu (dropdown)
  &-menu {
    position: absolute;
    z-index: 50;
    top: 100%;
    display: flex;
    margin-top: 4px;
    margin-bottom: 30px;

    border-radius: 4px;
    border: 1px solid $K200;
    background: white;
    box-shadow: 1px 2px 4px rgba($K400, 0.2), 2px 4px 20px rgba($K400, 0.2);

    button {
      transition: 0.2s ease background-color, 0.2s ease color;
      padding: 8px;

      border-radius: 0;
      border: 0;
      background: transparent;

      text-align: left;

      &:not(:disabled) {
        color: $button-color;

        &:hover {
          background: $K100;
          color: $button-color-hover;
        }
      }
      &:disabled {
        color: $K300;
      }
    }
  }
}

// Notes Picker
.picker-notes {
  width: 70px;

  .picker-notes-menu {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .note {
      display: flex;

      &:not(:first-child) {
        border-top: 1px solid $K100;
      }

      button {
        width: 50px;
        justify-content: center;

        &.natural {
          font-size: 20px;
          font-weight: 600;
        }
        &.flat,
        &.sharp {
          font-size: 14px;
          font-weight: 400;
        }

        &:not(:disabled) {
          &.natural {
            color: $K900;
          }
          &.flat,
          &.sharp {
            color: $K600;
          }
        }

        &:disabled {
          &.natural {
            color: $K300;
          }
          &.flat,
          &.sharp {
            color: $K300;
          }
        }
      }
    }
  }
}

// Keys Picker
.picker-keys {
  width: 240px;

  .picker-toggle {
    text-transform: capitalize;
  }

  .picker-menu {
    width: 100%;

    .picker-keys-menu {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

// Chord Picker
.picker-chords {
  width: 240px;

  .picker-toggle {
    text-transform: capitalize;
  }

  &-menu {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;

    max-width: 90vw;
    height: 400px;

    @media #{$query-min-lg} {
      width: 500px;
      padding: 10px;
    }
    @media #{$query-max-lg} {
      width: 100%;
      min-width: 220px;
    }

    .type-group {
      display: flex;
      flex-direction: column;

      padding: 10px;

      @media #{$query-min-lg} {
        &:nth-child(2n) {
          width: 60%;
        }
        &:nth-child(2n + 1) {
          width: 40%;
        }
      }
      @media #{$query-max-lg} {
        width: 100%;
      }

      &-title {
        padding: 8px;
        border-bottom: 1px solid $K100;

        font-size: 16px;
        color: $K500;
      }
      &-options {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
