@import "./vars.scss";

* {
  box-sizing: border-box;
}

body {
  background: $white;
  margin: 0;
  font-family: $font, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

code {
  font-family: $monoFont, monospace;
}

button {
  transition: 0.2s ease background-color;
  padding: 8px 14px;

  border: 0;
  border-radius: 4px;
  background: $orange;
  box-shadow: 1px 2px 4px $K100;

  font-family: $headingFont;
  font-size: 16px;
  color: $white;
  font-weight: 600;

  &:hover {
    background: darken($orange, 10%);
  }

  &:disabled {
    opacity: 0.5;
    background: $K200;
    color: $K500;

    svg path {
      fill: $K500;
    }
  }

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background: darken($orange, 10%);
    }
  }
}

// Layout
.layout {
  display: flex;
  flex-direction: column;
  width: 100vw;

  align-items: center;
  justify-content: center;
  padding: 20px;

  &-keyboard {
    width: 100%;
    max-width: $max-layout-width;
  }
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $white;

  &.loaded {
    display: none;
  }

  .loading {
    position: relative;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 0;

    span {
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      width: 10px;
      height: 10px;
      margin: -5px 0 0;
      border-radius: 50%;
      background: $green;
      animation: loader 1.2s infinite alternate;
      animation-timing-function: ease-in-out;
    }
  }

  .loading span:nth-of-type(1) {
    left: 0%;
  }
  .loading span:nth-of-type(2) {
    left: 33.333%;
    animation-delay: 0.4s;
  }
  .loading span:nth-of-type(3) {
    left: 66.666%;
    animation-delay: 0.8s;
  }

  @keyframes loader {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.2);
    }
  }
}

// Lists
.list-label {
  user-select: none;
  padding-right: 8px;

  font-family: $font;
  font-size: 18px;
  font-weight: 400;
  color: $K700;
}

// Selected
.selected {
  display: flex;
  width: 100%;
  padding-top: 40px;

  .selected-lists {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .list {
    &.not-empty {
      font-weight: 700;
      color: $K900;
    }

    &.empty {
      user-select: none;
      color: $K400;
    }
  }

  button {
    margin-left: auto;
  }

  &-clean .list:not(.empty) {
    // font-weight: 600;
    // color: $K900;

    .pitch {
      display: none;
    }
  }

  &-full .list {
    transition: 0.3s ease color;
    font-size: 12px;
    font-weight: normal;
    color: $K400;
  }

  &:hover &-full .list {
    color: $K900;
  }
}

// Shortcuts
.shortcuts {
  display: flex;
  flex-direction: row;

  &-key {
    border: 1px solid #eee;

    &.white {
      width: $key-white-width;
    }

    &.black {
      width: $key-black-width;
    }
  }
}

// Wheel and Key Chart
.wheel-and-chart {
  display: flex;
  justify-content: center;

  width: 100%;

  @media #{$query-max-md} {
    flex-direction: column;
  }
}

.round-button {
  $size: 60px;

  width: $size;
  height: $size;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  svg {
    width: 70%;
    height: 70%;

    path {
      fill: $white;
    }
  }
}
