@import "./vars.scss";

$wheel-rad: 200px;
$wheel-dia: $wheel-rad * 2;

@import "./chords.scss";
@import "./keys.scss";
@import "./wheel.scss";
@import "./keychart.scss";

* {
  box-sizing: border-box;
}

body {
  background: $white;
  margin: 0;
  font-family: $font, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

code {
  font-family: $monoFont, monospace;
}

button {
  transition: 0.2s ease background-color;
  padding: 8px 14px;

  border: 0;
  border-radius: 4px;
  background: $green;

  font-family: $headingFont;
  font-size: 16px;
  color: $white;
  font-weight: 600;
  box-shadow: 1px 2px 4px $K100;

  &:hover {
    background: darken($green, 10%);
  }

  &:disabled {
    opacity: 0.5;
    background: $K200;
    color: $K500;

    svg path {
      fill: $K500;
    }
  }

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background: darken($green, 10%);
    }
  }
}

// Layout
.layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &-keyboard {
    width: calc(100% - 40px);
    max-width: 1200px;
  }
}

// Keyboard
.keyboard {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 80px;
  height: 200px;

  border-radius: 6px;
  background: #eee;
  box-shadow: 1px 2px 4px $K200;
}

// Lists
.list-label {
  user-select: none;
  padding-right: 8px;

  font-family: $font;
  font-size: 18px;
  font-weight: 400;
  color: $K700;
}

// Selected
.selected {
  display: flex;
  width: 100%;
  padding-top: 40px;

  .selected-lists {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .list {
    &.not-empty {
      font-weight: 700;
      color: $K900;
    }

    &.empty {
      user-select: none;
      color: $K400;
    }
  }

  button {
    margin-left: auto;
  }

  &-clean .list:not(.empty) {
    // font-weight: 600;
    // color: $K900;

    .pitch {
      display: none;
    }
  }

  &-full .list {
    transition: 0.3s ease color;
    font-size: 12px;
    font-weight: normal;
    color: $K400;
  }

  &:hover &-full .list {
    color: $K900;
  }
}

// Shortcuts
.shortcuts {
  display: flex;
  flex-direction: row;

  &-key {
    border: 1px solid #eee;

    &.white {
      width: $key-white-width;
    }

    &.black {
      width: $key-black-width;
    }
  }
}

// Wheel and Key Chart
.wheel-and-chart {
  display: flex;
  justify-content: center;

  width: 100%;
}

.round-button {
  $size: 60px;

  width: $size;
  height: $size;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  svg {
    width: 70%;
    height: 70%;

    path {
      fill: $white;
    }
  }
}
