@import "./colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

$headingFont: "Poppins", sans-serif;
$font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
  Arial, Noto Sans, sans-serif;
$monoFont: source-code-pro, Menlo, Monaco, Consolas, "Courier New";

// Key dimensions
$key-white-width: 44px;
$key-black-width: 34px;
$key-black-height: 65%;
$key-label-diameter: 28px;
$key-border-radius: 6px;
