@import "./vars.scss";

.wheel {
  $wheel-rad: 200px;
  $wheel-dia: $wheel-rad * 2;

  $outer-thickness: 60px;
  $ring-gap: 4px;
  $inner-thickness: 50px;
  // $outer-thickness: 30%;
  // $ring-gap: 2%;
  // $inner-thickness: 25%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: $wheel-dia;
  height: $wheel-dia;

  // Highlight
  .wheelset-highlight {
    pointer-events: none;
    $highlight: rgba($K400, 0.4);
    $overflow: 30px;

    opacity: 0.7;
    position: relative;
    z-index: 10;

    .arc {
      position: absolute;
      top: -$overflow/2;
      left: -$overflow/2;
      width: $wheel-dia + $overflow;
      height: $wheel-dia + $overflow;
      border-radius: 50%;
      border: $outer-thickness + $ring-gap + $inner-thickness + $overflow solid;

      border-color: transparent transparent transparent $highlight;
      transform: rotate(90deg);
    }
  }

  // Wheelset
  .wheelset {
    position: relative;
    display: block;
    width: $wheel-dia;
    height: $wheel-dia;
    margin: auto;

    // Backgrounds
    &-bg {
      position: absolute;
      z-index: 1;
      width: $wheel-dia;
      height: $wheel-dia;
      border-radius: 50%;

      &-outer {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 0 $outer-thickness $K200;
      }

      &-inner {
        display: block;
        position: absolute;
        top: $outer-thickness + $ring-gap;
        left: $outer-thickness + $ring-gap;
        width: ($wheel-rad - $outer-thickness - $ring-gap) * 2;
        height: ($wheel-rad - $outer-thickness - $ring-gap) * 2;
        box-shadow: inset 0 0 0 $inner-thickness $K100;
      }
    }
  }

  // Outer
  &-outer {
    transition: 1s ease transform;
    position: absolute;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;

    // Notes
    .note {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: $outer-thickness;
      height: $wheel-rad;

      transform-origin: 50% 100%;

      @for $i from 1 through 12 {
        &:nth-child(#{$i}) {
          transform: translate(($wheel-rad - $outer-thickness/2), 0)
            rotate(#{30 * $i - 30}deg);
        }
      }

      &-btn {
        cursor: pointer;
        transition: 0.3s ease color;
        user-select: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $outer-thickness;

        font-family: $headingFont;
        color: $K500;
        font-weight: 600;

        &.major {
          height: $outer-thickness;
          font-size: 40px;
        }
        &.minor {
          margin-top: $ring-gap;
          height: $inner-thickness;
          font-size: 24px;
        }

        span:not(:first-child) {
          padding-top: 0;
          font-size: 60%;
        }

        &.current,
        &:hover {
          color: $green;
        }
      }
    }
  }

  // Arrow
  .wheel-arrow {
    cursor: pointer;
    transition: 0.3s ease background-color, 0.3s ease border-color;

    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid $K100;

    &.cw {
      left: 0;
    }
    &.ccw {
      right: 0;
    }

    svg {
      width: 60%;
      height: 60%;

      path {
        transition: 0.3s ease fill;
        fill: $K500;
      }
    }

    &:hover {
      background: $K200;
      border-color: $K300;

      svg path {
        fill: $K700;
      }
    }
  }

  // Play Key
  .wheelset-play {
    $play-size: 80px;

    position: absolute;
    z-index: 11;
    top: 50%;
    left: 50%;
    margin-top: -$play-size/2;
    margin-left: -$play-size/2;
    width: $play-size;
    height: $play-size;
  }
}
