@import "../../css/vars.scss";

.notes-with-intervals {
  display: flex;
  justify-content: center;
  width: calc(100% + 40px);
  overflow-x: auto;
  padding: 10px 0;

  .pair {
    $note-width: 44px;
    $interval-width: 40px;
    display: flex;
    flex-direction: row;

    text-align: center;

    .note-root {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      width: $note-width;

      .note {
        transition: 0.2s ease color;
        position: relative;
        z-index: 2;
        user-select: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          display: flex;
          flex-direction: row;

          font-size: 20px;
          font-weight: 700;
          color: $K800;

          span:nth-child(2) {
            padding-left: 1px;
            font-size: 13px;
            font-weight: 500;
          }

          &.flat span:nth-child(2) {
            margin-top: 8px;
          }
          &.sharp span:nth-child(2) {
            margin-top: 4px;
          }
        }

        &:hover span {
          color: $K500;
        }
      }
      .root-interval {
        transition: 0.3s ease opacity;
        opacity: 0;
        position: relative;
        z-index: 1;
        user-select: none;
        font-size: 14px;
        font-weight: 400;
        color: $K500;
      }
    }

    .relative-interval {
      transition: 0.3s ease opacity;
      opacity: 0;
      position: relative;
      z-index: 1;
      cursor: default;
      user-select: none;
      position: relative;
      width: $interval-width;
      margin: 0 -16px;
      padding-top: 64px;

      font-size: 14px;
      color: $K500;
      font-weight: 400;

      &:before {
        content: "";
        position: absolute;
        top: 42px;
        left: 0;
        width: 100%;
        height: 16px;

        border-radius: 50%;
        border-bottom: 1px solid $K350;
      }
    }

    &:first-child .root-interval {
      visibility: hidden;
    }
    &:last-child .relative-interval {
      display: none;
    }
  }

  // on hover, show intervals

  &:hover .pair {
    .note-root .root-interval,
    .relative-interval {
      opacity: 1;
    }
  }
}
