@import "../../css/vars";

.box {
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  border: 1px solid $K200;
  box-shadow: 1px 2px 8px rgba($K500, 0.1), 2px 4px 28px rgba($K400, 0.1);
  background: white;

  // Box Header
  &-header {
    display: flex;
    padding: 12px 12px 12px 20px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid $K200;
    background: $K50;

    @media #{$query-max-sm} {
      align-items: flex-start;
    }
    @media #{$query-min-sm} {
      align-items: center;
    }

    &-inner {
      display: flex;
      flex: 1;
      justify-content: space-between;
      min-height: $input-height;

      @media #{$query-max-sm} {
        flex-direction: column;
      }
      @media #{$query-min-sm} {
        align-items: center;
      }
    }

    // Box Title
    &-title {
      display: flex;
      align-items: center;
      height: $input-height;

      font-family: $headingFont;
      font-size: 18px;
      font-weight: 600;
      color: $K600;
    }

    // Toggle
    &-toggle.outline:not(:disabled) {
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      margin-left: 8px;
      padding: 0;

      @media #{$query-min-sm} {
        width: 44px;
        height: 44px;
      }
      @media #{$query-max-sm} {
        width: $input-height;
        height: $input-height;
      }

      svg {
        width: 80%;
        height: 80%;

        path {
          fill: $K500;
        }
      }

      &:hover {
        svg path {
          fill: $K800;
        }
      }

      .closed & {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  // Box Body
  &-body {
    display: flex;
    overflow: hidden;

    font-family: $headingFont;

    .opened & {
      height: auto;
    }
    .closed & {
      height: 0;
    }

    &-inner {
      display: flex;
      width: 100%;
      padding: 12px 20px;
      flex-direction: column;
      align-items: center;
    }

    &-bottom {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid $K100;
    }
  }

  // Box Footer
  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 12px 8px 20px;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 1px solid $K150;
    background: $K50;

    .closed & {
      border-top: 0;
    }

    &-label {
      display: flex;
      align-items: center;
      height: $input-height;
      margin-right: auto;

      font-family: $font;
      font-size: 14px;
      color: $K600;
      font-weight: 400;
    }

    &-text {
      display: flex;
      align-items: center;
      height: $input-height;

      font-size: 14px;

      &.empty {
        color: $K400;
      }
    }

    @media #{$query-max-sm} {
      button .text {
        display: none;
      }
    }
  }

  // No key/chart selected
  .no-selection {
    padding: 14px 0;

    font-size: 14px;
    color: $K400;
  }

  &:not(:first-child) {
    margin-top: 30px;
  }
}
