@import "../../css/vars.scss";

@mixin slider {
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 15px;
  height: 15px;

  border-radius: 50%;
  border: 0;
  background: $K750;
  box-shadow: 1px 2px 4px rgba($K600, 0.2);

  &:hover,
  &:active {
    background: $K900;
  }

  .mute & {
    background: $K300;
    box-shadow: unset;
  }
}

@mixin keyboard-shortcut() {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  background: white;
  box-shadow: 1px 2px 3px rgba($K400, 0.1);

  font-size: 12px;
  color: $K600;
  text-transform: uppercase;
}

// Piano
.piano {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  // Volume slider
  &-volume {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 8px;

    &-slider {
      -webkit-appearance: none;
      appearance: none;
      outline: none;
      transition: opacity 0.2s;
      width: 80px;
      height: 6px;

      border-radius: 4px;
      background: $K250;

      &:hover {
        opacity: 1;
      }

      // DO NOT COMBINE these, or it doesn't render properly
      &::-moz-range-thumb {
        @include slider();
      }
      &::-webkit-slider-thumb {
        @include slider();
      }
    }

    &.mute button:not(:disabled) svg path {
      fill: $K600;
    }
  }

  // Shortcuts Button
  &-shortcuts {
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: none;
    justify-content: center;
    flex: 1;
    padding: 20px 0 10px;
    border-top: 1px solid $K200;

    @media #{$query-min-lg} {
      .show-shortcuts & {
        display: flex;
      }
    }

    &:before {
      $shadow-height: 12px;
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: $shadow-height;
      margin-top: -($shadow-height + 2);

      border-radius: 30%;
      box-shadow: 0 0 10px $K300;
    }

    // "View Shortcuts" button
    button {
      @media #{$query-max-lg} {
        display: none;
      }

      &:not(:disabled) {
        font-size: 14px;
        font-weight: 400;
        color: $K400;

        &:hover {
          color: $K700;
        }
      }
    }

    // Shortcut list
    &-list {
      display: flex;

      font-size: 14px;
      font-weight: 600;

      .shortcut {
        display: flex;
        align-items: center;

        &:not(:first-child) {
          margin-left: 30px;
        }
        .key {
          height: 32px;
          margin-right: 4px;
          padding: 0 8px;

          @include keyboard-shortcut();
        }
        .action {
          padding-left: 8px;
          font-weight: 500;
          color: $K650;
        }
      }
    }
  }

  // Keyboard Buttons
  &-buttons {
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;

    margin-bottom: 12px;
  }

  // Keyboard Keys
  &-keys-wrap {
    position: relative;
    overflow-x: auto;
    z-index: 1;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 10px; // keep box shadows visible

    @media #{$query-min-lg} {
      .show-shortcuts & {
        padding-top: 74px; // for shortcut helpers
      }
    }

    // Go to edge of screen
    @media #{$query-max-lg} {
      width: calc(100% + #{$layout-side-padding * 2});
      margin-left: -$layout-side-padding;
      margin-right: -$layout-side-padding;
    }

    // Keyboard Keys
    .piano-keys {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      min-width: $key-white-width * 7 * 3;
      height: 200px;

      border-radius: 6px;
      background: $K150;
    }
  }
}

// Individual Keys
.key {
  transition: 0.1s ease background-color, 0.1s ease box-shadow;

  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;

  padding: 0;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  // White Key
  &:not(:disabled) {
    &.key-white {
      z-index: 1;
      width: $key-white-width;
      height: 100%;

      border: 1px solid $K200;
      background: $white;
      box-shadow: 1px 2px 3px $K100;

      &:hover {
        background: $K150;
      }

      &:active,
      &.pressed {
        border-color: $K300;
        background: $K300;
        box-shadow: 0 0 1px $K100;
      }
    }

    // Black Key
    &.key-black {
      z-index: 2;
      width: $key-black-width;
      height: $key-black-height;
      margin: 0 (-$key-black-width/2);

      border: 0;
      background: $K800;
      box-shadow: 1px 2px 3px rgba($K800, 0.2);

      &:hover {
        background: $K650;
      }
      &:active,
      &.pressed {
        background: $K500;
        box-shadow: 0 1px 1px rgba($K800, 0.1);
      }
    }

    &:focus {
      outline: none;
    }
  }

  // Labels
  &-labels {
    display: flex;
    margin-bottom: 10px;

    .key-white & {
      flex-direction: column-reverse;
    }
    .key-black & {
      flex-direction: column;
    }
  }
  &-label {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $key-label-diameter;
    height: $key-label-diameter;

    font-family: $font;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    color: transparent;

    border-radius: 50%;

    // White label
    .key-white:hover & {
      color: $K600;
    }

    // Black label
    .key-black:hover & {
      color: $K200;
    }

    // White/Black label
    .key-white &.active,
    .key-black &.active {
      background: $note-color;
      color: $white;

      .theme-key & {
        background: $key-color;
      }
      .theme-chord & {
        background: $chord-color;
      }
      .theme-locked & {
        background: $locked-color;
      }

      &:before,
      &:after {
        background: rgba($K400, 0.4);
      }
    }
  }
  &:hover .key-label {
    transition: 0.3s ease color;
  }

  // Shortcuts
  &-shortcut {
    user-select: none;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    bottom: 100%;
    width: 100%;

    display: none;
    align-items: flex-start;
    justify-content: center;

    @media #{$query-min-lg} {
      .show-shortcuts & {
        display: flex;
      }
    }

    .key-white & {
      height: 36px;
    }
    .key-black & {
      height: 60px;
    }

    &-btn {
      @include keyboard-shortcut();
      transition: 0.1s ease background-color;
      position: relative;
      z-index: 2;

      width: 22px;
      height: 22px;
    }

    &-line {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background: $K300;
    }
  }

  &.pressed .key-shortcut .key-shortcut-btn {
    background: $K300;
    color: $K800;
  }
}
